@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .nav__link {
    @apply relative text-base font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px]
    after:bg-yellow-400 text-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition
    after:duration-300 after:origin-right;
  }
  .text-bg {
    background-image: linear-gradient(to right, #0070f7 0%, #363639 100%);
    background-clip: text;
    /* フォントの枠に色つけたい */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-bg-sub {
    background-image: linear-gradient(to right, #fefcf8 0%, #363639 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .custom-scrollber::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .main-color-bg {
    background-color: #e6e7e9;
  }
  table {
    border-collapse: collapse;
    border: 2px solid black;
    padding: 1px;
  }

  th {
    border: 2px dashed lightgray;
    border-bottom: 1px solid black;
    padding: 4px;
    background: rgb(160, 160, 162);
  }

  td {
    border: 1px solid rgb(108, 99, 99);
    padding: 4px;
  }
}
